# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Node
node_modules/
dist/
build/
npm-debug.log*

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Linux
*.swp